<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body>
  <div class="container">
    <h1>Quizzes</h1>
    <p>Find all available quizzes here</h1>
    <div class="quizzes">
      <% quizzes.forEach(quiz => { %>
        <a href="./quiz?name=<%- quiz.slug %>"><button><%= quiz.title %></button></a>
      <% }) %>
    </div>
  </div>
</body>
</html>